.App {
  text-align: center;
}

.intro-social {
	/* display: block; */
	/* position: absolute; */
	width: 100%;
	/* left: 5; */
	bottom: 5.2rem;
	font-size: 2.3rem;
	margin: 0;
	padding: 0; 
  align-content: center;
  display: flex;
  justify-content: center;
}
.intro-social li {
	display: inline-block;
	margin: 0 30px;
	/* padding: 0; */
}
.intro-social li a, .intro-social li a:visited {
	color: black;
}
.intro-social li a:hover, .intro-social li a:focus {
	color: #00ccff;
}

#resume {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

#resume .resume-header {
	text-align: center;
}
#resume .resume-header h2 {
	color: #FF0077;
}

#resume .resume-timeline {
	max-width: 980px;
}
#resume .timeline-wrap {
	position: relative;
	margin-top: 1.5rem;
	margin-bottom: 6rem;
}
#resume .timeline-wrap::before {
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 35%;
	top: 0;
}
#resume .timeline-block {
	position: relative;
	padding-top: 1.5rem;
}
#resume .timeline-ico {
	height: 4.8rem;
	width: 4.8rem;
	line-height: 4.8rem;
	background: #313131;
	border-radius: 50%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	left: 35%;
	top: .9rem;
	margin-left: -2.4rem;
}
#resume .timeline-ico i {
	position: relative;
	left: .05rem;
	top: .2rem;
}

#resume .timeline-header {
	float: left;
	width: 35%;
	padding-right: 90px;
	text-align: right;
}
#resume .timeline-header h3 {
	margin-bottom: 0;
}
#resume .timeline-header p {
	font-family: "poppins-regular", sans-serif;
	font-size: 1.6rem;
	color: #888888;
}
#resume .timeline-content {
	margin-left: 35%;
	padding-left: 60px;
}
#resume .timeline-content h4 {
	position: relative;
	padding-bottom: 1.8rem;
}
#resume .timeline-content h4::after {
	content: "";
	display: block;
	height: 3px;
	width: 50px;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 0;
	bottom: 0;
}

.grey-section {
	background: #ebebeb;
  /* margin-left: -20%;
  margin-right: -20%; 
  padding-top: 0px; */
}
.grey-section p.lead {
  color: #7d7d7d;
}

footer {
	padding-bottom: 3rem;
	font-size: 1rem;
	font-family: "poppins-regular", sans-serif;
}
footer a, footer a:visited {
	color: black;
}
footer a:hover, footer a:focus {
	color: #00ccff;
}
footer .row {
	max-width: 1400px;
}
footer .social {
	/* text-align: right; */
}

.footer-social li a:hover, .intro-social li a:focus {
	color: #00ccff;
}
footer .footer-social {
	display: inline-block;
	font-size: 2.1rem;
	margin: 0;
	padding: 0;
	position: relative;
	top: -.3rem;
}
footer .footer-social li {
	display: inline-block;
	margin: 0 12px;
	padding: 0;
}
footer .footer-social li a {
	color: black;
}
footer .copyright span {
	display: inline-block;
  text-align: right;
}
footer .copyright span::after {
	content: "|";
	display: inline-block;
	padding: 0 0.5rem 0 1.2rem;
	color: rgba(255, 255, 255, 0.1);
}
footer .copyright span:last-child::after {
	display: none;
}
